@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #242B2E;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1,h3,p{
  font-family: 'Fuzzy Bubbles', cursive;
  color: #CAD5E2;
}
.news-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 700px;
  height: fit-content;
  margin-top: 20px;
  font-style: Fuzzy Bubbles;
  padding: 10px;
  cursor: pointer;
}
.news-image{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 400px;
}